extends meta/_layout

block content
  //- include meta/_carousel
  section.show-banner
    .container
      .row
        .col-xs-12
          .carousel-slide-wrap.pr
            .carousel-slide-text-block.sand
              .carousel-slide-text-middle
                span.db.title.text-uppercase Бронирование <br> Пленкой
                //- span.db.small-text.text-uppercase Автомобилей
                span.db.description.text-uppercase цена:
                span.db.price от 18 000 руб.
            img(src='img/slide4.jpg' alt='slide img').img-responsive.carousel-image.visible-md.visible-lg


  article.read-text
    .container
      .row
        .col-lg-9
          article.main
            h1 Бронирование пленкой
            p Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.Служба Яндекс.Рефераты предназначена для студентов и кольников, дизайнеров и журналистов, создателей научных
            p заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.Служба Яндекс.Рефераты предназначена для студентов и кольников, дизайнеров и журналистов, создателей научных
            p заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.
            p Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку
            p зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
            p Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку
            p зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
            p Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку
            p зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
            p Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.
            p Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
            p Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.

            .row
              -for(var i = 0; i < 3; i++)
                .col-sm-6.col-md-6.col-lg-4
                  a(href="photo/#{i + 1}.jpg" rel="darkbox")
                    img(src="img/img_demo_article.jpg" alt="Soda").shadow-block-img.table-center

            p Текстами рефератов можно пользоваться совершенно бесплатно, однако при транслировании и предоставлении текстов в массовое пользование ссылка на Яндекс.Рефераты обязательна.
            p Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.Служба Яндекс.Рефераты предназначена для студентов и кольников, дизайнеров и журналистов, создателей научных
            p заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.Служба Яндекс.Рефераты предназначена для студентов и кольников, дизайнеров и журналистов, создателей научных
            p заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.

        .col-lg-3.visible-lg
          aside.right-aside
            .aside-title-wrapper
              .aside-title
                h4.aside-title-text.text-white.text-center Услуги Unicar
            ul.pl0.lsn.mb0.aside-list
              li
                a(href="#").db.hover-underline Посадка занижение
              li
                a(href="#").db.hover-underline Полировка кузова, фар
              li
                a(href="#").db.hover-underline Продажа и ремонт стекол
              li
                a(href="#").db.hover-underline Покрытие жидким стеклом
              li
                a(href="#").db.hover-underline Бронирование пленкой
              li
                a(href="#").db.hover-underline Химчистка салона
              li
                a(href="#").db.hover-underline Шумоизоляция
              li
                a(href="#").db.hover-underline Натяжное покрытие ???
              li
                a(href="#").db.hover-underline Тонировка
              li
                a(href="#").db.hover-underline Установка авто сигнализаций
              li
                a(href="#").db.hover-underline Установка ксенона
              li
                a(href="#").db.hover-underline Диагностики автомобиля
              li
                a(href="#").db.hover-underline Покраска и рихтовка
              li
                a(href="#").db.hover-underline Установка авто звука
              li
                a(href="#").db.hover-underline Установка парктроников
              li
                a(href="#").db.hover-underline Авто электрик

block script
  script(src="js/jquery.darkbox.min.js")
