extends meta/_layout

block head-script
  script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU")

block content
  section.page-title
    .container
      .row
        .col-xs-12
          h1 Контакты

  .container
    .row
      .col-xs-12
        p: <b>ООО</b> «Unicar»
        p: <b>Адрес:</b> 350060, Россия, г. Краснодар ул. Алма-Атинская 93
        p: <b>Тел:</b> +7 (918) 991-99-99; +7 (918) 991-99-99
        //- p: <b>Тел:</b>
        p: <b>Эл. адрес:</b> <a href='mailto:yandex@yandex.ru' class="link-gray">yandex@yandex.ru</a>

  section.yandex-map
    .container
      .row
        .col-xs-12
          #map
