extends meta/_layout

block content
  include meta/_carousel

  article.read-text
    .container
      .row
        .col-xs-12
          h1 Тюнинг ателье Unicar
          p Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.Служба Яндекс.Рефераты предназначена для студентов и кольников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.Служба Яндекс.Рефераты предназначена для студентов и кольников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков. Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам. Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам. Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.

  section.border-line
    .container
      .row
        .col-xs-12
          .section-title-wrapper
            .section-title
              h2.text-center.text-white.section-text Услуги Unicar

  .container
    .row
      -for(var i = 0; i < 16; i++)
        .col-md-6.col-lg-3
          .shadow-block
            img(src='img/img_demo.jpg' alt='service img' width='220' height='165').shadow-block-img.table-center.img-responsive
            a(href="#").db.hover-underline.shadow-block-title Посадка занижение автомобилей

  .consultation-block
    .container
      .row
        .col-lg-3
          button(type='button' data-target='#modal-callback' data-toggle='modal').button.button-consultation Консультация
        .col-lg-9
          p.consultation-text - мы всегда рады проконсультировать Вас. Воплотим в жизнь все Ваши мечты.


  include meta/_read-text


//- block script
  script(src='js/jquery.slick.min.js')
