extends meta/_layout

block content

  section.page-title
    .container
      .row
        .col-xs-12
          h1 Наши работы

  .container
    .row
      .col-xs-12
        include meta/_thumb-slider

  include meta/_read-text
  include meta/_pagination

block script
  script(src='js/jquery.ekko-lightbox.min.js')
