extends meta/_layout

block content
  section.page-title
    .container
      .row
        .col-xs-12
          h1 Прайс-лист

  section.panel-wrap
    .container
      .row
        .col-xs-12
          .panel-group#accordion(role="tablist" aria-multiselectable="true")
            -for(var i = 0; i < 10; i++)
              .panel
                .panel-heading(role="tab" id="panel-head#{i + 1}")
                  a(role="button" data-toggle="collapse" data-parent="#accordion" href="#panel-target#{i + 1}" aria-expanded="true" aria-controls="panel-target#{i + 1}").db.panel-title.no-underline Название категории ##{i + 1}
                .panel-collapse.collapse(role="tabpanel" aria-labelledby="panel-head#{i + 1}" id="panel-target#{i + 1}")
                  .panel-body
                    table.table
                      thead
                        tr
                          td Название услуги
                          td Цена
                      tbody
                        tr
                          td Посадка занижение
                          td 500 руб
                        tr
                          td Бронирование пленкой
                          td 500 руб
                        tr
                          td Тонировка
                          td 500 руб

  include meta/_read-text
