body{
  font-family: $roboto;
  font-weight: 400;
  color: #454246;
  background: #E9EBF2;
}

main{
  padding-top: 40px;
  padding-bottom: 40px;
  h1,h2,h3,h4{
    font-family: $ubuntu;
  }

  h1{
    margin-top: 30px;
    @include font-size(50);
    margin-bottom: 20px;
    @media(max-width:560px){
      @include font-size(40);
    }
  }

  h2{
    @include font-size(40);
    @media(max-width:560px){
      @include font-size(35);
    }
  }

  h3{
    @include font-size(30);
  }

  h4{
    @include font-size(20);
  }

  p,li{
    @include font-size(16);
  }

  b,strong{
    font-family: $ubuntu;
  }

  a{
    &.link-gray{
      color: #454246;
    }
  }
  .button{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    @include font-size(14);
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    &.active.focus,
    &.active:focus,
    &.focus,
    &:active.focus,
    &:active:focus,
    &:focus {
        outline: none;
        outline-offset: -2px
    }

    &.focus,
    &:focus,
    &:hover {
        color: #333;
        text-decoration: none
    }

    &.active,
    &:active {
        background-image: none;
        outline: 0;
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
    }

    &-consultation{
      border-radius: 0;
      padding: 10px 25px;
      color: #FFF;
      @include font-size(30);
      background: #6883BB;
      border-bottom:4px #4D68A0 solid;
      &:hover, &:active, &:focus{
        color: #FFF;
        border-bottom-color: lighten(#4D68A0, 10%);
        background: darken(#6883BB, 10%);
      }
    }
  }
}

header.main{
  // margin-bottom: 40px;
}

.header-top{
  @media(max-width:1200px){
   padding: 30px 0;
  }
  .time{
    margin-top: 11px;
    color: #808080;
    margin-bottom: 13px;
    @media(max-width:1200px){
      @include font-size(16);
      text-align: center;
      margin-top: 0;
    }
  }
  .social-text{
    margin-top: 11px;
    color: #808080;
    margin-bottom: 13px;
    @media(max-width:1200px){
      @include font-size(16);
      margin-bottom: 0;
    }
  }
  .address-block{
    text-align: right;
    @media(max-width:1200px){
      text-align: center;
    }
  }
  .address{
    margin-top: 13px;
    color: #808080;
    @include font-size(12);
    @media(max-width:1200px){
      @include font-size(16);
    }
  }
  .address-link{
    @include font-size(12);
    color: #808080;
    border-bottom:1px dashed #808080;
    display: inline-block;
    margin-left: 29px;
    &:hover, &:focus, &:active{
      color: #808080;
      border-bottom-color:transparent;
    }
    @media(max-width:1200px){
      @include font-size(16);
    }
    @media(max-width:560px){
      text-align: center;
      margin-left: 0;
      margin-top: 10px;
    }
  }
}

.header-bottom{
  box-shadow: 0 0 15px 0 black(.4) ;
  background: #fcfcfc;
  .logo{
    @media(max-width:1200px){
     display: table;
     margin: 0 auto;
    }
    &-link{
      display: inline-block;
      margin-top: 30px;
      margin-right: 30px;
      float: left;
      @media(max-width:560px){
        float: none;
        display: table;
        margin: 20px auto;
      }
    }
    &-text{
      color: #454246;
      padding-top: 32px;
      display: inline-block;
      font-family: $ubuntu;
      @include font-size(30);
      @media(max-width:560px){
       display: table;
       margin: 0 auto;
      }
    }
  }
  .order{
    width: 360px;
    height: 103px;
    background: url(../img/bg_order_top.png);
    @media(max-width:1200px){
     display: table;
     margin: 0 auto;
     height: auto;
     width: auto;
     background: none;
    }
    span{
      padding-top: 36px;
      color: #808080;
      @include font-size(20);
      border-bottom:1px dashed #808080;
      &:hover, &:focus, &:active{
        border-bottom-color:transparent;
      }
    }
  }
  .phone{
    text-align: right;
    @media(max-width:1200px){
     display: table;
     margin: 0 auto;
     background: none;
     text-align: center;
     padding-bottom: 30px;
    }
    &-text{
      float: right;
      margin-left: 17px;
      display: inline-block;
      margin-top: 29px;
      font-family: $ubuntu;
      @include font-size(30);
      color: #454246;
      &:hover, &:focus, &:active{
        color: #454246;
      }
      @media(max-width:560px){
        margin-left: 0;
        float: none;
        display: block;
      }
    }
    .icon{
      float: left;
      margin-top: 37px;
      @media(max-width:560px){
        margin-left: 0;
        float: none;
      }
    }
  }
}

nav.main{
  @include gradient();
  li{
    @media(max-width:992px){
     width: 100%;
    }
  }
  .active{
    .nav-link{
      @include gradient(#727675, #555255);
    }
  }
  .nav-link{
    padding: 13px 42px;
    @include font-size(16);
    color: #FFF;
    font-family: $ubuntu;
    &:hover, &:focus, &:active{
      @include gradient(#727675, #555255);
    }
    @media(max-width:1200px){
     padding: 13px 20px;
    }
    @media(max-width:560px){
     padding-left: 10px;
    }
  }
  [class^="icon-"]{
    @include font-size(25);
    margin-right: 9px;
    display: inline-block;
    vertical-align: middle;
  }
  .hidden-menu{
    z-index: 2;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 100%;
    background: #575457;
    box-shadow: 0 0 15px 0 black(.4);
    overflow: hidden;
    @media(max-width:992px){
     position: static;
    }
    [class^="col-"]{
      padding: 0;
    }
    .hidden-menu-link{
      padding: 13px 19px;
      margin-bottom: -1px;
      color: #D7D7D7;
      border-bottom: 1px solid #5d5a5d;
      &:hover, &:focus, &:active{
        color: #D7D7D7;
        box-shadow: 0 0 15px 0 black(.4) ;
      }
    }
  }
}

.icon{
  display: inline-block;
  vertical-align: middle;
}

.icon-vk{
  width: 20px;
  height: 20px;
  background: url(../img/ico_vk.png);
  margin: 0 10px;
}

.icon-ins{
  width: 20px;
  height: 20px;
  background: url(../img/ico_ins.png);
}

.icon-wa{
  width: 29px;
  height: 30px;
  background: url(../img/ico_wa.png);
  margin: 0 10px;
}

.icon-viber{
  width: 29px;
  height: 30px;
  background: url(../img/ico_viber.png);
}

footer.main{
  font-family: $roboto;
  color: #FFF;
  font-weight: 300;
  @include font-size(16);
  background: #615C62;
  @media(max-width:768px){
    padding: 30px 0;
  }
  .footer-title{
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: $roboto;
    color: #FFF;
    font-weight: 300;
    @include font-size(25);
    @media(max-width:992px){
      text-align: center;
      display: block;
      // margin-top: 0;
    }
  }
  .footer-link{
    color: #acaaac;
    @media(max-width:768px){
      text-align: center;
      display: block;
      padding: 10px 0;
      @include font-size(16);
      // margin-top: 0;
    }
  }
  .show-more-list{
    border-bottom:1px dashed #808080;
    color: #FFF;
    &:hover, &:focus, &:active{
      border-bottom:none;
    }
    @media(max-width:768px){
      text-align: center;
      display: table;
      margin: 10px auto;
    }
  }
  .phone-text{
   @include font-size(30);
   font-family: $roboto;
   color: #FFF;
   font-weight: 300;
   display: inline-block;
   margin-top: -7px;
   @media(max-width:992px){
     text-align: center;
     display: block;
     margin-top: 0;
    }
  }
  .footter-address{
    display: inline-block;
    margin-top: -12px;
    @media(max-width:992px){
      text-align: center;
      display: block;
      margin-top: 0;
    }
  }
  .copyright-block{
    margin-top: 47px;
    p{
      margin-bottom: 20px;
    }
  }
  .creator-text{
    text-align: right;
    color: #FFF;
    &:hover, &:focus, &:active{
      color: #FFF;
    }
    @media(max-width:768px){
      text-align: center;
    }
  }
  .creator-img{
    margin-top: 3px;
    @media(max-width:768px){
      float: none !important;
      margin-top: -3px;
    }
  }
  .copyright{
    @media(max-width:768px){
      text-align: center;
    }
  }
}

.section-title{
  @include gradient();
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
  z-index: 2;
  margin-top: 30px;
  margin-bottom: 40px;
  .section-text{
    margin: 0;
  }
  &-wrapper{
    padding-left: 36px;
    padding-right: 36px;
    position: relative;
    // z-index: 2;
    // overflow: hidden;
    &:before, &:after{
      content: '';
      position: absolute;
      @include gradient();
      box-shadow: 0 0 15px 0 black(.4);
      top:0;
      width: 57px;
      height: 57px;
      transform-origin: 0 0;
      transform: rotate(45deg);
    }
    &:before{
      left: 35px;
    }
    &:after{
      right: -21px;
    }
    @media(max-width:560px){
      padding: 0;
      &:before, &:after{
        display: none;
      }
    }
  }
}

.shadow-block{
  padding: 20px;
  background: #F2F2F2;
  box-shadow: 0 0 15px 0 black(.2);
  margin-bottom: 25px;
  &-img{
    margin-bottom: 15px;
    border-radius: 4px;
  }
  &-title{
    color: #6982C0;
    @include font-size(22);
    @media(max-width:1200px){
      text-align: center;
    }
  }
}

section.panel-wrap{
  margin-top: 20px;
  .panel-heading{
    padding: 0;
    background: #818181;
    border-radius: 0;
  }
  .panel-title{
    padding: 10px 15px;
    font-family: $ubuntu;
    @include font-size(23);
    color: #FFF;
    &:hover{
      color: #f7f7f7;
    }
  }
  .panel-group{
    box-shadow: 0 0 15px 0 black(.2);
  }
  .panel-body{
    background: #FCFCFC;
    border: 0;
  }
  .panel{
    margin-top: 0 !important;
    border-radius: 0;
    border: 0;
    border-bottom: 1px #D5D7DC solid;
    &last-child{
      border-bottom: none;
    }
  }
  thead{
    td{
      @include font-size(20);
    }
  }
  tbody{
    td{
      @include font-size(16);
    }
  }
}

.right-aside{
  .aside-list{
    box-shadow: 0 0 15px 0 black(.2);
    background: #FCFCFC;
    margin-top: -29px;
    padding-top: 29px;
    padding-bottom: 15px;
    a{
      color: #454246;
      padding: 10px 30px;
    }
  }
}

.aside-title{
  @include gradient();
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
  z-index: 2;
  margin-top: 30px;
  // margin-bottom: 40px;
  &-text{
    margin: 0;
  }
  &-wrapper{
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    // z-index: 2;
    // overflow: hidden;
    &:before, &:after{
      content: '';
      position: absolute;
      @include gradient();
      box-shadow: 0 0 15px 0 black(.4);
      top:0;
      width: 41px;
      height: 41px;
      transform-origin: 0 0;
      transform: rotate(45deg);
    }
    &:before{
      left: 29px;
    }
    &:after{
      right: -12px;
    }
    @media(max-width:560px){
      padding: 0;
      &:before, &:after{
        display: none;
      }
    }
  }
}

.slick-slider-wrap{
  // @media(max-width:996px){
    // overflow: hidden;
    // height: 400px;
  // }
}

.carousel-slide-text-block{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  color: #FFF;
  text-align: center;

  .title{
    font-family: $ubuntu;
    @include font-size(50);
  }

  .description{
    margin-top: 30px;
    @include font-size(50);
  }

  .price{
    font-family: $ubuntu;
    @include font-size(50);
  }

  .small-text{
    @include font-size(30);
  }

  @media(max-width:1200px){
    & .title{
      @include font-size(40);
    }

    & .description{
      @include font-size(40);
    }

    & .price{
      @include font-size(40);
    }

    & .small-text{
      @include font-size(25);
    }
  }

  @media(max-width:992px){
    &.orange{
      background: #D46A2C;
    }
    &.purple{
      background: #543361;
    }
    &.sand{
      background: #AB8D6C;
    }

    top:0;
    right: 0;
    // height: 400px;
    padding: 0;
    position: relative;
    transform: translateY(0);
  }

  @media(max-width:996px){
    height: 400px;
  }

  @media(max-width:560px){
    & .title{
      @include font-size(35);
    }

    & .description{
      @include font-size(25);
    }

    & .price{
      @include font-size(25);
    }

    & .small-text{
      @include font-size(20);
    }
  }

  @media(max-width:320px){
    & .title{
      @include font-size(30);
    }

    & .description{
      @include font-size(20);
    }

    & .price{
      @include font-size(20);
    }

    & .small-text{
      @include font-size(15);
    }
  }

}

.carousel-slide-text-middle{
  @media(max-width:992px){
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }
}

.slick-slider-left,
.slick-slider-right{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100px;
  // background: black(.1);
  &:hover{
    background: black(.2);
  }
  &:before, &:after{
    content: '';
    position: absolute;
    top: 54%;
    margin-top: -10px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background: white(1);
  }
  @media(max-width:992px){
    width: 50px;
  }
}

.slick-slider-left{
  &:before{
    transform: rotate(45deg);
  }
  &:after{
    transform: rotate(-45deg);
    margin-top: -23px;
  }
}

.slick-slider-right{
  left: auto;
  right: 0;
  &:before{
    transform: rotate(-45deg);
  }
  &:after{
    transform: rotate(45deg);
    margin-top: -23px;
  }
}

section.yandex-map{
  padding-top: 30px;
  #map{
    height: 400px;
  }
}

.consultation-block{
  .consultation-text{
    margin-top: 15px;
    @include font-size(20);
  }
}

.fotorama{
  margin: 0 auto;
  display: table;
  @media(max-width:992px){
    display: block;
  }
}

#modal-callback{
  .modal-dialog{
    width: 400px;
    @media(max-width:768px){
      width: auto;
    }
  }
  .modal-header{
    padding: 0;
    @include gradient();
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .modal-title{
    color: #FFF;
    // text-align: center;
    @include font-size(20);
  }
  .modal-content{
    border: none;
    border-radius: 2px;
  }
  .modal-close{
    position: absolute;
    top: 30px;
    right: 25px;
    width: 18px;
    height: 18px;
    &:before, &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 5px;
      width: 21px;
      background: #FFF;
      border-radius: 2px;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
  .callback-input-wrap{
    padding-bottom: 20px;
    label.error{
      position: absolute;
      bottom: 100%;
      color: #FFF;
      // color: #F40;
      padding: 5px 10px;
      display: block;
      left: 0;
      right: 0;
      background: #f40;
      &:after{
        bottom: -5px;
        right: 10px;
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #f40 transparent transparent transparent;
      }
    }
  }
  .callback-input{
    border-radius: 2px;
    width: 100%;
    border: 1px #dcdcdc solid;
    height: 50px;
    padding-left: 20px;
    @include font-size(20);
    &.error{
      border-color: #ff4444;
    }
    &:hover, &:active, &:focus{
      // color: #fff;
      border-color: #6A6C6C;
    }
  }
  .callback-button{
    border-radius: 2px;
    border: 1px #555255 solid;
    background: #fff;
    padding: 4px 30px;
    color: #565356;
    @include font-size(20);
    &:hover, &:active, &:focus{
      color: #fff;
      background: #6A6C6C;
    }
  }
  .modal-body{
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.thumb-slider-wrap{

}

.thumb-slider-item{
  margin-bottom: 30px;
}

.pagination-mod {
  li{
    @media(max-width:992px){
      display: none;
      &:first-child,
      &:last-child {
        display: inline-block;
      }
    }
  }
  > li > a,
  > li > span {
    border: 1px #818181 solid;
    color: #333;
    background: #E9EBF2;
    &:hover {
      color: #fff;
      background: #615C61;
      border-color: #615C62;
    }
    &:focus, &:active{
      color: #333;
      outline: none;
      border-color: #615C62;
    }
  }
  > .active > a,
  > .active > span {
    color: #fff;
    background: #615C61;
    &:hover {
      color: #fff;
      background: #615C61;
    }
  }
}
