/* Darkbox
---------------------------------------- */
.darkbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.darkbox .darkbox-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.darkbox .darkbox-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin: -40px 0 0 -40px;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #000 url(../img/spinner.png) 24px 24px no-repeat;
}

.darkbox .darkbox-canvas img {
    display: block;
    visibility: hidden;
}

.darkbox .darkbox-button {
    position: absolute;
    top: -13px;
    z-index: 1;
    display: none;
    overflow: hidden;
    width: 30px;
    height: 30px;
    background: url(../img/close.png) no-repeat;
    cursor: pointer;
}

.darkbox .darkbox-button-left {
    left: -16px;
}

.darkbox .darkbox-button-right {
    right: -16px;
}

/* Darkbox On
---------------------------------------- */
.darkbox-on {
    display: block;
}

/* Darkbox Loaded
---------------------------------------- */

.darkbox-loaded .darkbox-canvas {
    overflow: visible;
    height: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: none;
}

.darkbox-loaded .darkbox-canvas img {
    width: 100%;
    visibility: visible;
}

/* Darkbox Error
---------------------------------------- */

.darkbox-error .darkbox-canvas {
    background-image: url(../img/error.png);
}

/* Darkbox Done
---------------------------------------- */

.darkbox-done .darkbox-button {
    display: block;
}

/* Darkbox Done
---------------------------------------- */
* + html .darkbox-done .darkbox-canvas {
    filter: none !important;
}
