/*!
 * Lightbox for Bootstrap 3 by @ashleydw
 * https://github.com/ashleydw/lightbox
 *
 * License: https://github.com/ashleydw/lightbox/blob/master/LICENSE
 */

.ekko-lightbox-container {
    position: relative;
}

.ekko-lightbox-nav-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.ekko-lightbox-nav-overlay a {
    z-index: 100;
    display: block;
    width: 49%;
    height: 100%;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    opacity: 0;
    filter: dropshadow(color=#000, offx=2, offy=2);
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.ekko-lightbox-nav-overlay a:empty {
    width: 49%;
}

.ekko-lightbox a:hover {
    text-decoration: none;
    opacity: 1;
}

.ekko-lightbox .glyphicon-chevron-left,
.ekko-lightbox .glyphicon-chevron-right{
  position: relative;
  &:before{
    position: absolute;
    top: 50%;
    margin-top: -15px;
  }
}

.ekko-lightbox .glyphicon-chevron-left {
    left: 0;
    float: left;
    padding-left: 15px;
    text-align: left;
    &:before{
      left: 30px;
      // margin-left: -15px;
    }
}

.ekko-lightbox .glyphicon-chevron-right {
    right: 0;
    float: right;
    padding-right: 15px;
    text-align: right;
    &:before{
      right: 30px;
      // margin-right: -15px;
    }
}

.ekko-lightbox .modal-footer {
    text-align: left;
}

.ekko-lightbox{
  .modal-content{
    border: none;
    border-radius: 2px;
  }
  .modal-header{
    // padding: 0;
    @include gradient();
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 45px;
    min-height: auto;
  }
  .lightbox-close{
    position: absolute;
    top: 30px;
    right: 25px;
    width: 18px;
    height: 18px;
    &:before, &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 5px;
      width: 21px;
      background: #FFF;
      border-radius: 2px;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
}
