.container
  .row
    .col-xs-12
      .slick-slider-wrap.pr.dn
        .slick-slider-left.cur
        .slick-slider-right.cur
        .slick-slider
          .item.no-outline
            .carousel-slide-wrap.pr
              .carousel-slide-text-block.orange
                .carousel-slide-text-middle
                  span.db.title.text-uppercase Занижение
                  span.db.small-text.text-uppercase Автомобиля
                  span.db.description.text-uppercase цена:
                  span.db.price от 4 000 руб.
              img(src='img/slide1.jpg' alt='slide img' width='1140' height='400').img-responsive.carousel-image.visible-md.visible-lg
          .item.no-outline
            .carousel-slide-wrap.pr
              .carousel-slide-text-block.purple
                .carousel-slide-text-middle
                  span.db.title.text-uppercase Покраска <br> и рихтовка
                  span.db.small-text.text-uppercase Автомобилей
                  span.db.description.text-uppercase цена:
                  span.db.price от 28 500 руб.
              img(src='img/slide2.jpg' alt='slide img' width='1140' height='400').img-responsive.carousel-image.visible-md.visible-lg
          .item.no-outline
            .carousel-slide-wrap.pr
              .carousel-slide-text-block.purple
                .carousel-slide-text-middle
                  span.db.title.text-uppercase Тонировка
                  span.db.small-text.text-uppercase За задний полукруг
                  span.db.description.text-uppercase цена:
                  span.db.price от 2 500 руб.
              img(src='img/slide3.jpg' alt='slide img' width='1140' height='400').img-responsive.carousel-image.visible-md.visible-lg
          .item.no-outline
            .carousel-slide-wrap.pr
              .carousel-slide-text-block.sand
                .carousel-slide-text-middle
                  span.db.title.text-uppercase Бронирование <br> Пленкой
                  //- span.db.small-text.text-uppercase Автомобилей
                  span.db.description.text-uppercase цена:
                  span.db.price от 18 000 руб.
              img(src='img/slide4.jpg' alt='slide img' width='1140' height='400').img-responsive.carousel-image.visible-md.visible-lg
