footer.main
  .container
    .row
      .col-lg-9
        span.footer-title Услуги
        .row
          .col-sm-6.col-md-6.col-lg-4
            a(href="#").footer-link Посадка, заниение
          .col-sm-6.col-md-6.col-lg-4
            a(href="#").footer-link Бронирование пленкой
          .col-sm-6.col-md-6.col-lg-4
            a(href="#").footer-link Тонировака
          .col-sm-6.col-md-6.col-lg-4
            a(href="#").footer-link Покраска, рихтовка
          .col-sm-6.col-md-6.col-lg-4
            a(href="#").footer-link Полировка кузова фар
          .col-sm-6.col-md-6.col-lg-4
            a(href="#").footer-link Химчистка салона
          .col-sm-6.col-md-6.col-lg-4
            a(href="#").footer-link Установка автосигнализации
          .col-sm-6.col-md-6.col-lg-4
            a(href="#").footer-link Установка автозвука
          .col-sm-6.col-md-6.col-lg-4
            a(href="#").footer-link Продажа и ремонт стекол
          .col-sm-6.col-md-6.col-lg-4
            a(href="#").footer-link Шумоизоляция
          .col-sm-6.col-md-6.col-lg-4
            a(href="#").footer-link Установка ксенона
          .col-sm-6.col-md-6.col-lg-4
            a(href="").show-more-list.no-underline Посмотреть полный список
      .col-md-6.col-lg-3
        span.footer-title Контакты
        ul.lsn.pl0.mb0
          li
            a(href='tel:+76542655429').phone-text.no-underline +7 (654) 265-54-29
          li
            a(href='tel:+76893167941').phone-text.no-underline +7 (689) 316-79-41
          li.footter-address г. Краснодар ул. Алма-Атинская 93
  .copyright-block
    .container
      .row
        .col-sm-6
          p.copyright © “Unicar” 2015 г. Все права защищены.
        .col-sm-6
          a(href="#").creator-text.db.no-underline
            span Разработка сайта -
            img(src='img/logo_art6.png' alt='logo art6' width='55' height='15').creator-img.pull-right
