header.main
  .header-top
    .container
      .row
        .col-lg-4
          span.time.db Тюнинг ателье в Краснодаре Пн-Сб: с 9:00 до 19:00
        .col-lg-4
          span.social-text.table-center Мы в соц. сетях
            a(href="#").icon.icon-vk
            a(href="#").icon.icon-ins
        .col-lg-4
          .address-block
            span.address.dib г. Краснодар ул. Алма-Фтинская 93
            a(href="#").address-link.no-underline Схема проезда
  .header-bottom
    .container
      .row
        .col-lg-4
          .logo
            a(href="/").logo-link
              img(src="img/img_logo.png" alt='unicar logo' width='181' height='46')
            span.logo-text Unicar.ru
        .col-lg-4
          .order
            span(data-target='#modal-callback' data-toggle='modal').table-center.cur Заказ звонка
        .col-lg-4
          .phone
            a(href="tel:+79188000115").phone-text.no-underline +7 (918) 800-01-15
            a(href="tel:+79188000115").icon.icon-viber
            a(href="tel:+79188000115").icon.icon-wa

    nav.main
      .container.pr
        ul.lsn.clearfix.pl0.mb0
          li.pull-left
            a(href="index.html").db.no-underline.text-uppercase.nav-link <span class="icon-home"></span>Главная
          li.pull-left
            span(data-toggle='collapse' data-target=".hidden-menu" aria-expanded="false" role='menu').db.text-uppercase.nav-link.cur.no-select <span class="icon-bookmark"></span>Услуги
          li.collapse.hidden-menu
            .container-fluid
              .row
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                  a(href="#").db.no-underline.hidden-menu-link Посадка занижение
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                  a(href="#").db.no-underline.hidden-menu-link Полировка кузова, фар
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                  a(href="#").db.no-underline.hidden-menu-link Продажа и ремонт стекол
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                  a(href="#").db.no-underline.hidden-menu-link Покрытие жидким стеклом
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                  a(href="article.html").db.no-underline.hidden-menu-link Бронирование пленкой
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                  a(href="#").db.no-underline.hidden-menu-link Химчистка салона
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                  a(href="#").db.no-underline.hidden-menu-link Шумоизоляция
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                  a(href="#").db.no-underline.hidden-menu-link Натяжное покрытие ???
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                  a(href="#").db.no-underline.hidden-menu-link Тонировка
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                  a(href="#").db.no-underline.hidden-menu-link Установка авто сигнализаций
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                  a(href="#").db.no-underline.hidden-menu-link Установка ксенона
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                  a(href="#").db.no-underline.hidden-menu-link Диагностики автомобиля
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                  a(href="#").db.no-underline.hidden-menu-link Покраска и рихтовка
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                  a(href="#").db.no-underline.hidden-menu-link Установка авто звука
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                  a(href="#").db.no-underline.hidden-menu-link Установка парктроников
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                  a(href="#").db.no-underline.hidden-menu-link Авто электрик
          li.pull-left
            a(href="portfolio.html").db.no-underline.text-uppercase.nav-link <span class="icon-picture"></span>Наши работы
          li.pull-left
            a(href="price.html").db.no-underline.text-uppercase.nav-link <span class="icon-th-list"></span>Прайс-лист
          li.pull-left
            a(href="contact.html").db.no-underline.text-uppercase.nav-link <span class="icon-phone"></span>Контакты
