doctype html
html(lang="ru")
  head
    title Сайт Unicar

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    meta(property="og:image", content="img/demo.jpg")
    meta(property="og:title", content="Demo jade example")
    meta(property="og:description" content="Demo jade example")

    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(name="description", content="")

    link(rel="icon", href="img/favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")

    link(href="//cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(href='//fonts.googleapis.com/css?family=Roboto:300,400&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
    link(href='//fonts.googleapis.com/css?family=Ubuntu:700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
    link(href="css/style.css", rel="stylesheet")

    |<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    |<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    |<!--[if lt IE 9]>
    |  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    |  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    |<![endif]-->

    block style
    block head-script

  body
    block header
      include _header

    main
      block content

    block footer
      include _footer

    block modal
      include _modal


    //- add library
    //- script(src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5")
    script(src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5,jquery.slick@1.5.8")

    //- add tools
    //- script(src="//cdn.jsdelivr.net/g/underscorejs@1.8.3")
    //- script(src="//cdn.jsdelivr.net/g/sugar@1.5.0")

    //- add plugin
    //- script(src="//cdn.jsdelivr.net/g/jquery.formstyler@1.7.2")

    //- add MVC
    //- script(src="//cdn.jsdelivr.net/g/backbonejs@1.2.1")

    script(src="js/jquery.validate.min.js")
    block script

    //- add main script file
    script(src="js/main.js")

