.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")#modal-callback
  .modal-dialog
    .modal-content
      .modal-header.pr
        span.db.modal-title Фома обратного звонка
        .modal-close.cur(data-dismiss='modal')
      .modal-body
        form.callback-form
          .callback-input-wrap.pr
            input(type='text' name='name' placeholder='Имя' required).db.no-outline.callback-input
          .callback-input-wrap.pr
            input(type='text' name='phone' placeholder='Телефон' required).db.no-outline.callback-input
          button(type='submit').table-center.callback-button Отправить
