nav.table-center
  ul.pagination.pagination-mod
    li
      a(href="#" aria-label="Previous")
        span(aria-hidden="true") &laquo;
    li.active: a(href="#") 0
    -for(var i = 0; i < 10; i++)
      li: a(href="#") #{i + 1}
    li
      a(href="#" aria-label="Previous")
        span(aria-hidden="true") &raquo;
