article.read-text
  .container
    .row
      .col-xs-12
        h1 Заголовок h1
        h2 Заголовок h2
        h3 Заголовок h3
        h4 Заголовок h4

        p Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.Служба Яндекс.Рефераты предназначена для студентов и кольников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.Служба Яндекс.Рефераты предназначена для студентов и кольников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков. Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам. Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам. Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.

        ul
          li маркерованный список
          li маркерованный список
          li маркерованный список
          li маркерованный список
          li маркерованный список
          li маркерованный список
          li маркерованный список

        ol
          li нумерованный список
          li нумерованный список
          li нумерованный список
          li нумерованный список
          li нумерованный список
          li нумерованный список
          li нумерованный список
